<body style="margin:0;width: 100%;height: 100%">
<div>
  <div style="width: 50%;float: left">

    <h1 style="margin-top: 40px">Recipes</h1>

  <div style="margin-left: -50px;margin-top: 10px">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>

  <div>

    <ul class="list-group"  style="margin-top: 15px">
      <li
        class="list-group-item"
        *ngFor="
          let recipe of recipes | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
        [class.active]="i == currentIndex"
        (click)="setActiveRecipe(recipe, i)">
        <a style="color:black" href ="http://localhost:4200/recipe-card/{{recipe.id}}">
        {{ recipe.name}}
        </a>
      </li>
    </ul>
  </div>

  <div style="margin-top:20px">
    Items per Page:
    <select (change)="handlePageSizeChange($event)">
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>
</div>


  <div style="width:50%;float: left;">

    <div style="margin-top:25px;display:flex;flex-direction: row;align-self: center;margin-left:120px">
      <mat-form-field style="width: 300px">
        <input  matInput
                type="text"
                placeholder="type to search by recipe name.."
                [(ngModel)]="name"/>
      </mat-form-field>
      <button mat-button style = "width:60px;padding:0;height: 50px;margin-top: 3px"
              (click)="searchName()">
        Search
      </button>
    </div>
    <div *ngIf="currentRecipe.id" style="margin-left: 120px;
             margin-top: 80px;">
      <h1>Recipe Preview</h1>
      <div>
        <label><strong>Name:</strong></label> {{ currentRecipe.name}}
      </div>
      <div>
        <label><strong>Time needed:</strong></label>
        {{ currentRecipe.time}}
        <label>min</label>
      </div>

      <a
        class="badge badge-warning"
        href="recipe-card/{{ currentRecipe.id }}">
        Go to
      </a>
    </div>

    <div *ngIf="!currentRecipe">
      <br />
      <p>Please click on a Recipe...</p>
    </div>

  </div>

</div>
</body>
