<div id="app">
  <mat-toolbar color="primary"  style="flex-direction: row">
    <mat-toolbar-row>
      <span class="menu-spacer"></span>
      <div>
        <span>goodmeal</span>
        <a mat-button [routerLink]="'/home'" style ="margin-left:10px">Home </a>
        <a mat-button *ngIf="!isLoggedIn" [routerLink]="'/register'" style = "margin-left:1100px">Sign up</a>
        <a mat-button *ngIf="!isLoggedIn" [routerLink]="'/login/'" >Login</a>
        <a mat-button *ngIf="isLoggedIn" [routerLink]="'/profile'" style = "margin-left:1100px">{{ username }}</a>
        <a mat-button *ngIf="isLoggedIn" (click)="logout()" >LogOut</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>
