<div id="main-content" class="container" style="margin-left: -15px">
  <h1>leave your feedback</h1>
  <div class="row">
    <div class="col-md-6">
      <form class="form-inline" name="test-form">
        <div class="form-group">

          <input type="text" id="name" name="name" class="form-control" placeholder="Your comment..." [(ngModel)]="name">
        </div>
        <button id="send" class="btn btn-default" type="button" (click)="sendName()">Send</button>
      </form>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-md-12" *ngIf="showConversation">
      <table id="conversation" class="table table-striped">
        <thead>
        <tr>
          <th>Comments</th>
        </tr>
        </thead>
        <tbody *ngFor="let greeting of greetings" >
        <tr><td>{{greeting}}</td></tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
