<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
  enabled. Please enable
  Javascript and reload this page!</h2></noscript>
<script type="text/javascript">
  window.global = window;
</script>
<div id="main-content" class="container">

  <div class="row">
    <div class="col-md-12">
      {{ greeting }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label>WebSocket connection:</label>
          <button (click)="connect()" class="btn btn-default" type="submit">Connect</button>
          <button (click)="disconnect()" class="btn btn-default" type="submit" disabled="disabled">Disconnect
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label>What is your name?</label>
          <input type="text" [(ngModel)]="name" class="form-control" name="name"> <br>
        </div>
        <button (click)="sendMessage()" class="btn btn-default" type="submit">Send</button>
      </form>
    </div>

    <p> {{ greeting }}</p>
  </div>

  <br>
  <div>
    <h1>Sent Messages</h1>
    <br>
    <ul>
      <li *ngFor="let item of sent">Source: {{item.source}} -> Content {{item.content}}</li>
    </ul>
  </div>

  <br>
  <div>
    <h1>Received Messages</h1>
    <br>
    <ul>
      <li *ngFor="let item of received">Source: {{item.source}} -> Content {{item.content}}</li>
    </ul>
  </div>

</div>
